body {
    background-color: rgb(0, 0, 0);
    font: 13pt Arial;
}

main {
    background-color: rgb(219, 215, 215);
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 100px rgba(219, 218, 218, 0.529);
}

h1 {
    color: rgb(0, 0, 0);
}

.titulo-2{
    color: rgb(255, 253, 248);
}

h2 {
    color: rgb(184, 136, 15);
}

aside {
    display: block; 
    font-size: 10pt;
    text-align: justify;
    background-color: #c70d1c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(3, 3, 3, 0.529);
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a, a:visited {
    color: rgb(34, 34, 34);
    font-weight: bolder;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: none;
}